html,
body {
  height: 100%;
  }

.form-signin {
  max-width: 330px;
  padding: 2rem;
  background: linear-gradient(90deg, rgba(166, 247, 80, 0.04) 0%, rgba(166, 247, 80, 0) 69.95%), rgb(24, 28, 35);
  box-shadow: 5px 5px 10px #a6f750;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
