html,
body {
  height: 100%;
  }

.form-signin {
  box-shadow: 5px 5px 10px #a6f750;  
  background-color: #282C33; padding: 20px;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
